@font-text: 'Open Sans', Helvetica;
@font-text-light: 'Open Sans', Helvetica;
@font-text-bold: 'Open Sans' Helvetica;
@font-display: 'Open Sans', Helvetica;

.font-text() {
    font-family: @font-text;
}

.font-text-bold() {
    font-family: @font-text-bold;
    font-weight: 900;
}

.font-text-medium() {
    font-family: @font-text-bold;
    font-weight: 600;
}

.font-text-light() {
    font-family: @font-text-light;
    font-weight: 300;
}

.font-display() {
    font-family: @font-display;
}

button {
    cursor: pointer;
}

h1 {
    font-size: 20px;
    font-weight: bold;
}

h2 {
    font-size: 18px;
    font-weight: bold;
}

h3 {
    font-size: 16px;
    font-weight: bold;
}

.avatar {
    border: 1px solid black;
}