@import "../colors.less";
@import "../helpers.less";

#content {
    #step-3 {
        .klout.result {
            background-color: @kloutBackground;
            font-family: 'DINRegular','Helvetica Neue',Helvetica,Arial,sans-serif;
            header {
                padding: 10px;
                background-color: @kloutHeader;
            }
            h4 {
                font-size: 24px;
                color: @kloutTitle;
                margin-left: 10px;
            }
            .text {
                color: @kloutTxt;
            }
            .score {
                color: @kloutOrange;
            }
            .label {
                font-size: 14px;
            }
        }
    }
}