#content {
    #step-3 {
        text-align: left;
        dl {
            margin: auto;
            width: 50%;
            dt, dd {
                padding: 2px;
                width: 49%;
                display: inline-block;
            }
        }
    }
}