#content {
    position: relative;

    .step {
        padding: 10px;
        width: 95%;
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid black;
    }

    .search {
        .github-search li {
            cursor: pointer;
        }
    }
}

footer {
    margin-top: 25px;
}