.overlay-loading {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1001;
    opacity: 0;
    height: 100%;
    width: 100%;
    display: none;
}

.back, .next {
    position: fixed;
    top: 30%;
    width: 60px;
    height: 120px;
    z-index: 1000;
    cursor: pointer;
    display: none;

    &.back {
        left: 0;
        background: url('/assets/images/slider/back.png') no-repeat;
    }

    &.next {
        right: 0;
        background: url('/assets/images/slider/next.png') no-repeat 10px 0;
    }
}

#content {
    position: relative;

    .step {
        text-align: center;
        width: 100%;
        position: absolute;
    }

    #step-1 {
        padding-top: 50px;
        input[type=search] {
            vertical-align: 9px;
            width: 30%;
            height: 40px;
            border-radius: 7px;
            font-size: 1.2em;
        }

        button {
            vertical-align: 12px;
            margin-left: 12px;
        }

        .loading {
            margin-left: 12px;
        }
    }

    #step-2 {
        padding-top: 8%;

        .not-found {
            font-size: 1.2em;
            font-weight: bold;
            color: #504040;
        }

        .progress-container {
            height: 50px;

            .progress {
                height: 100%;
                width: 0%;
                background: #62B847;
            }
        }
        .github-users li {
            padding: 5px;
            cursor: pointer;
            border-bottom: 1px solid grey;

            span {
                padding: 2px;
            }

            .fullname {
                font-weight: bold;
            }

            &:nth-child(even) {
                background-color: #F3F3F3;
            }

            &:hover {
                background-color: #F0F7FC;
            }
        }
    }

    #step-3 {
        text-align: left;
        dl {
            margin: auto;
            width: 50%;
            dt, dd {
                padding: 2px;
                width: 49%;
                display: inline-block;
            }
        }

        .linkedin-result {
            padding: 10px;
            color: whitesmoke;
            background: #83A9BD;
            font-weight: bold;
            overflow: hidden;

            img {
                float: left;
            }
        }

        .github-result {
            padding: 10px;
            background: #E7E7E7;

            dl {
                width: 50%;
            }
        }

        .twitter-result {
            background-color: #FFF9EA;

            .pure-tweets {
                border-left: 1px solid grey;
                border-right: 1px solid grey;
                padding: 10px;
                width: 60%;
                margin: auto;

                li {
                    padding: 5px;
                }
            }
        }
    }
}