@import "helpers.less";
@import "commons.less";
@import "colors.less";
@import "layout.less";
@import "popular.less";
@import "search.less";
@import "profile.less";
@import "loading.less";

.layout-content {
    .home {
        &.fade {
            .transition(opacity, 0.2s, ease);
        }

        .introduction {
            background: @blue2;
            padding: 18px;
            .box-shadow(inset 0px -2px 4px @black1);

            p {
                font-size: 18pt;
                color: white;
                text-align: center;
            }
        }
    }
}