@veryLightGray : #E8E8E8;
@lightGray : #CCC;
@gray : #999;   
@darkGray : #666;
@veryDarkGray : #444;

/* LinkedIn */
@linkedinHeaderFrom: dimGray;
@linkedinHeaderTo: #252525;
@linkedinSection: #999;
@linkedinTxt: #71C5EF;

/* GitHub */
@githubH1 : #495961;
@githubH3 : #4183C4;
@githubTxt : #333;
@githubTxtInfo : #999;
@githubBorder: #F1F1F1;
@githubHeaderFrom: #FAFAFA;
@githubHeaderTo: #EAEAEA;

/* Twitter */
@twitterH1: #333;
@twitterTxtInfo: #999;
@twitterLink: #D02B55;
@twitterHeader: #252525;
@twitterTitle: #222;
@twitterItem: whiteSmoke;
@twitterBorder: #E8E8E8;