@import 'colors.less';

@font-text: OpenSansRegular, Helvetica;
@font-text-light: OpenSansLight, Helvetica;
@font-text-bold: OpenSansBold Helvetica;
@font-text-half-bold: OpenSansSemibold;
@font-display: OpenSansRegular, Helvetica;

.font-text() {
    font-family: @font-text;
}

.font-text-bold() {
    font-family: @font-text-bold;
}

.font-text-half-bold() {
    font-family: @font-text-half-bold;
}

.font-text-medium() {
    font-family: @font-text-bold;
    font-weight: 600;
}

.font-text-light() {
    font-family: @font-text-light;
    font-weight: 300;
}

.font-display() {
    font-family: @font-display;
}

button {
    cursor: pointer;
}

h1 {
    font-size: 24px;
    font-weight: bold;
}

h2 {
    font-size: 18px;
    font-weight: bold;
}

h3 {
    font-size: 16px;
    font-weight: bold;
}

.avatar {
    border: 1px solid black;
}
