@import 'colors.less';

@font-text: OpenSansRegular, Helvetica;
@font-text-light: OpenSansLight, Helvetica;
@font-text-bold: OpenSansBold, Helvetica;
@font-text-half-bold: OpenSansSemibold;
@font-display: OpenSansRegular, Helvetica;

a, p, span, li, dd, dt {
    font-family: @font-text;
}

button {
    cursor: pointer;
}

h1 {
    font-size: 24px;
    font-family: @font-text-bold;
}

h2 {
    font-size: 18px;
    font-family: @font-text-bold;
}

h3 {
    font-size: 16px;
    font-family: @font-text-half-bold;
}

.avatar {
    border: 1px solid black;
}
