/*** Titles ***/
h1 {
    font-size: 1.5em;
    font-weight: bold;
}

/*** Helpers ***/
.gradient(@from:#000, @to:#EEE) {
    background: @from;
    background-image: -webkit-gradient(linear, left top, left bottom, from(@from), to(@to));
    background-image: -moz-linear-gradient(top, @from, @to);
    filter: formatstring("progid:DXImageTransform.Microsoft.gradient(startColorstr='{0}', endColorstr='{1}')", @from, @to); /* IE6,IE7 */
    -ms-filter: formatstring("\"progid:DXImageTransform.Microsoft.gradient(startColorStr='{0}', EndColorStr='{1}')\"", @from, @to); /* IE8 */
}

.box_shadow(@arguments) {
    box-shadow: @arguments;
    -webkit-box-shadow: @arguments;
    -moz-box-shadow: @arguments;
}

.box-shadow(@style1, @color1, @style2, @color2){
  box-shadow:         @style1 @color1, @style2 @color2;
  -webkit-box-shadow: @style1 @color1, @style2 @color2;
  -moz-box-shadow:    @style1 @color1, @style2 @color2;
}

.text_shadow(@arg) {
    text-shadow: @arguments;
}

.button-common-properties{
     text-shadow: 0px 1px 2px rgba(0,0,0,0.6);
     color: white;
     font-weight: bold;
     text-transform: uppercase;
     border-radius: 3px;
     -webkit-appearance: none;
     &:hover {
         cursor: pointer;
     }
}
