html {
    height: 100%;
    body {
        height: 100%;
        header {
            height: 100px;
        }
        #content {
            min-height: 72%;
        }
        footer {
            height: 100px;
        }
    }
}