@import 'commons.less';
@import 'colors.less';

.search {
    background: @grey5;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 30px;
    border-bottom: 1px solid @grey11;

    form {
        input[name=keywords] {
            height: 40px;
            width: 100%;
            border-radius: 3px;
            border: 1px solid @grey14;
            font-size: 14pt;
            padding-left: 10px;
            .font-text-light();
            .box-sizing(border-box);
        }

        .container-search {
            position: relative;
            display: inline-block;
            width: 30%;

            .icon-github {
                position: absolute;
                top: 5px;
                right: 6px;
            }

            .loading-github {
                position: absolute;
                top: 5px;
                right: -3px;
            }

            .icon-github {
                color: @grey16;
                font-size: 30px;
            }

            .loading-github {
                background: url('../images/github/octocat-spinner-128.gif') no-repeat 7px 2px;
                height: 31px;
                width: 42px;
                display: inline-block;
                background-size: 63%;
                display: none;
            }
        }

        .submit-search {
            border: 1px solid grey;
            border-radius: 3px;
            background: @grey1;
            width: 100px;
            height: 38px;
            text-transform: uppercase;
            color: @black2;
            margin-left: 10px;
            font-size: 16pt;
            text-align: center;
            line-height: 1px;
            .font-text-light();

            &:hover {
                border-color: black;
                background: white;
            }
        }
    }
}

.results {
    text-align: center;

    .result {
        position: relative;
        cursor: pointer;
        background: @grey1;
        overflow: hidden;
        height: 72px;
        left: -105%;

        &.selected {
            background: white;
        }

        .spinner-container {
            float: right;
            margin-right: 55px;
        }

        &.fade-in {
            /*.transition(left, 0.17s, ease);*/
            .transition-duration(0.17s);
            .transform(translate3d(105%, 0, 0));
        }

        .progress {
            position: absolute;
            height: 1px;
            width: 0%;
            background: #3EB157;
        }

        .user {
            float: right;
            margin-top: 15px;
            margin-bottom: 15px;
            width: 98%;

            header {
                .font-text-half-bold();
                font-size: 14px;
                color: @black2;
            }

            .separator:before {
                content: " | ";
                color: @black2;
                margin-left: 5px;
                margin-right: 5px;
            }

            .details {
                font-size: 12px;
                color: @blue3;
                margin-top: 10px;
                .font-text();
            }
        }

        &:not(.last) {
            border-bottom: 1px solid @grey3;
        }

        &:hover {
            background: white;
        }

        .hover {
            height: 100%;
            background: @blue1;
            float: left;
            width: 4px;
        }
    }
}
