#content {
   #step-2 {
        .not-found {
            font-size: 1.2em;
            font-weight: bold;
            color: #504040;
        }

        .progress-container {
            height: 50px;
            padding-bottom: 3px;

            .progress {
                height: 100%;
                width: 0%;
                background: #3A79A5;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }
        }
        .github-users li {
            padding: 5px;
            cursor: pointer;
            border-bottom: 1px solid grey;

            span {
                padding: 2px;
            }

            .fullname {
                font-weight: bold;
            }

            &:nth-child(even) {
                background-color: #F3F3F3;
            }

            &:hover {
                background-color: #F0F7FC;
            }
        }
    }
}