@()(implicit lang: Lang, request: Request[AnyContent])

@main() {
<div class="home fade-out">
  <div class="introduction">
    <p>Having a full overview of one coder guy</p>
  </div>
  <div class="search">
    <form name="github-search">
      <div class="container-search">
        <input type="text" name="keywords" placeholder="Search over github..."/>
        <span class="icon-github"></span>
      </div>
      <button class="submit-search">search</button>
    </form>
  </div>
  <ul class="results"></ul>
  <div class="popular">
    <div class="top">
      <h2>Popular</h2>
      <ul class="coders">
        <li>
          <header>srenault - Sebastien RENAULT</header>
          <p class="desc">Web programmer working at @@Zenexity. @@HTML, @@CSS, @@Javascript and @@Scala are become my day-to-day.</p>
        </li>
        <li>
          <header>srenault - Sebastien RENAULT</header>
          <p class="desc">Web programmer working at @@Zenexity. @@HTML, @@CSS, @@Javascript and @@Scala are become my day-to-day.</p>
        </li>
      </ul>
    </div>
  </div>
</div>
} {
}
