@(coderGuy: models.CoderGuy)(implicit lang: Lang)

@profile_header(coderGuy)

@coderGuy.gitHubUser.map { github =>
<div class="github">
  <div class="logo"></div>
  @if(github.organizations.length > 0) {
  <div class="orgs-container">
    <h1>Organizations</h1>
    <ul class="organizations">
      @github.organizations.map { org =>
      <li class="organization">
        <header>
          <img class="avatar" src="@org.avatarUrl" />
          <h2>@org.login</h2>
        </header>
        <div class="info">
          <ul>
            @org.repositories.sortBy(r => -r.contributions).map { repository =>
            <li class="repository">
              <h3><a target="_blank" href="@repository.url">@repository.name</a></h3>
              @if(!repository.description.trim.isEmpty) {
              <span class="desc">@repository.description</span>
              }
              <span class="social">
                @if(repository.contributions > 0) {
                @repository.contributions contributions
                @if(repository.forks > 0 || repository.watchers > 0) { | }
                }
                @if(repository.forks > 0) {
                @repository.forks forks @if(repository.watchers > 0) { | }
                }
                @if(repository.watchers > 0) {
                @repository.watchers watchers
                }
              </span>
            </li>
            }
          </ul>
        </div>
      </li>
      }
    </ul>
  </div>
  }
  <div class="personal-container">
    <h1>Personal</h1>
    <ul class="personal">
      @github.repositories.sortBy(r => -r.contributions).map { repository =>
      <li class="repository">
        <h3><a target="_blank" href="@repository.url">@repository.name</a></h3>
        <div class="info">
          @if(!repository.description.trim.isEmpty) {
          <span class="desc">@repository.description</span>
          }
          <span class="social">
            @if(repository.contributions > 0) {
              @repository.contributions contributions
              @if(repository.forks > 0 || repository.watchers > 0) { | }
            }
            @if(repository.forks > 0) {
            @repository.forks forks @if(repository.watchers > 0) { | }
            }
            @if(repository.watchers > 0) {
            @repository.watchers watchers
            }
          </span>
        </div>
      </li>
      }
    </ul>
  </div>
</div>
}

@coderGuy.twitterUser.map { twitter =>
<div class="twitter">
  <div class="logo"></div>
  <div class="info">
    <span class="pseudo">@twitter.screenName - @twitter.name</span>
    <span class="desc">@Html(twitter.prettyDesc.getOrElse(""))</span>
    <span class="social">@twitter.followers followers</span>
  </div>
  @twitter.timeline.map { timeline =>
  <ul class="tweets">
    @timeline.tweets.map { tweet =>
    <li>@Html(tweet.pretty)</li>
    }
  </ul>
  }
</div>
}

@coderGuy.kloutUser.map { klout =>
<div class="klout">
  <div class="logo"></div>
  <div class="info">
    <dl>
      <dt class="nick">@@@klout.nick</dt>
      <dd class="score">@klout.score</dd>
    </dl>
  </div>

  @if(klout.influencers.length > 0) {
  <div class="influencers">
    <h1>Influencers</h1>
    @klout.influencers.map { case (klout, twitter) =>
    <dl>
      <dt>Fullname</dt>
      <dd>@twitter.name</dd>
      <dt>Twitter</dt>
      <dd>@twitter.screenName</dd>
      <dt>Description</dt>
      <dd>@twitter.description</dd>
      <dt>Followers</dt>
      <dd>@twitter.followers</dd>
      <dt>Score</dt>
      <dd class="score">@klout.score</dd>
    </dl>
    }
  </div>
  }

  @if(klout.influencees.length > 0) {
  <div class="influencees">
    <h1>Influencees</h1>
    @klout.influencees.map { case (klout, twitter) =>
    <dl class="infuencees">
      <dt>Fullname</dt>
      <dd>@twitter.name</dd>
      <dt>Twitter</dt>
      <dd>@twitter.screenName</dd>
      <dt>Description</dt>
      <dd>@twitter.description</dd>
      <dt>Followers</dt>
      <dd>@twitter.followers</dd>
      <dt>Score</dt>
      <dd class="score">@klout.score</dd>
    </dl>
    }
  </div>
  }
</div>
}
