@(coderGuy: models.CoderGuy)

<div class="headline">
  @(coderGuy.oneAvatar, coderGuy.gitHubUser) match {
    case (Some(avatar), Some(gitHub)) => {
     <a href="@gitHub.htmlUrl">
      <img class="avatar" src="@avatar" />
     </a>
    }
    case (Some(avatar), _) => {
     <img class="avatar" src="@avatar" />
    }
    case _ => {
    <img class="avatar default" src="@routes.Assets.at("images/github/gravatar-user-420.png")" />
    }
  }
  <div class="info">
    <div class="identity">
    @coderGuy.oneFullname.map { fullname =>
      <h1 class="fullname">@fullname</h1>
    }
    @coderGuy.oneBio.map { bio =>
      <p class="bio">@Html(bio)</p>
    }
    </div>
    @coderGuy.gitHubUser.map { gitHubUser =>
      @if(gitHubUser.followers > 0) {
        <div class="details">
          <span class="icon icon-group"></span>
          <span class="followers">@gitHubUser.followers followers</span>
        </div>
      }
      @gitHubUser.blog.filter(!_.trim.isEmpty).map { blog =>
        <div class="details">
          <span class="icon icon-globe"></span>
          <a href="http://@blog" class="blog">@blog</a>
        </div>
      }
      @gitHubUser.email.filter(!_.trim.isEmpty).map { email =>
        <div class="details">
          <span class="icon icon-envelope"></span>
          <span class="email">@email</span>
        </div>
      }
      @gitHubUser.company.filter(!_.trim.isEmpty).map { company =>
        <div class="details">
          <span class="icon icon-building"></span>
          <span class="company">@company</span>
        </div>
      }
      @gitHubUser.location.filter(!_.trim.isEmpty).map { location =>
        <div class="details">
          <span class="icon icon-pushpin"></span>
          <span class="location">@location</span>
        </div>
      }
      @gitHubUser.language.filter(!_.trim.isEmpty).map { language =>
        <div class="details">
          <span class="icon icon-wrench"></span>
          <span class="language">@language</span>
        </div>
      }
    }
  </div>
  @if(coderGuy.gitHubUser.filter(_.hireable).isDefined) {
  <button class="btn white hireable">Hire me</button>
  }
</div>
