@()

<script id="github-search-tmpl" type="text/html">
  <div class="github-search">
    <form name="search_coderguy">
      <input type="search" placeholder="Type a coder guy name !" />
      <button class="big-button">Search</button>
      <div class="loading"></div>
    </form>
  </div>
</script>

<script id="github-users-tmpl" type="text/html">
  <div class="github-users">
    <div class="progress-container">
      <div class="progress"></div>
    </div>
    <ul>
      <% _(gitHubUsers).each(function(gitHubUser) { %>
      <li>
        <div><span class="fullname"><%= gitHubUser.fullname %></span></div>
        <div>
          <span class="username">
            <a href="http://github.com/<%= gitHubUser.username %>"><%= gitHubUser.username %></a>
          </span>
        </div>
        <div><span class="language"><%= gitHubUser.language %></span> guy</div>
        <div><span class="followers"><%= gitHubUser.followers %></span> followers</div>
      </li>
      <% }) %>
    </ul>
  </div>
</script>

<script id="github-result-tmpl" type="text/html">
  <div class="github-result">
    <h3>Github repositories</h3>
    <dl>
      <% _(repositories).each(function(repository) { %>
      <dt><a href="<%= repository.url %>"><%= repository.name %></a></dt>
      <dd><%= repository.description %></dd>
      <% }) %>
    </dl>
  </div>
</script>
