@()

<script id="github-search-tmpl" type="text/html">
  <div class="github-search">
    <h2>Step 2 - Select a GitHub user</h2>
    <progress value="0" max="100" />
    <ul>
      <% _(gitHubUsers).each(function(gitHubUser) { %>
      <li>
        <span class="username"><%= gitHubUser.username %></span>
        <span class="fullname"><%= gitHubUser.fullname %></span>
        <span class="language"><%= gitHubUser.language %></span>
        <span class="followers"><%= gitHubUser.followers %></span>
      </li>
      <% }) %>
    </ul>
  </div>
</script>

<script id="github-result-tmpl" type="text/html">
  <div class="github-result">
    <h3>GitHub</h3>
    <ul>
      <% _(repositories).each(function(repository) { %>
      <li>
        <a href="<%= repository.url %>"><%= repository.name %></a>
        <span><%= repository.description %></span>
        <span><%= repository.language %></span>
      </li>
      <% }) %>
    </ul>
  </div>
</script>
