@()

<script id="klout-result-tmpl" type="text/html">
  <% if(user) { %>
  <div class="klout result">
    <header>
      <img src="@routes.Assets.at("images/klout/logo.png")" height="24px" />
    </header>
    <dl class="klout-user">
      <dt>Score</dt><dd class="text score"><%= user.score %></dd>
    </dl>
    <% if(influencers.length) { %>
    <h4>Influencers</h4>
    <ul class="influencers">
      <% _(influencers).each(function(influencer) { %>
      <li class="text">
        <dl>
          <% if(influencer.twitter) { %>
          <dt class="label">Name</dt><dd><%= influencer.twitter.name %></dd>
          <dt class="label">Screen name</dt><dd><%= influencer.twitter.screenName %></dd>
          <dt class="label">Description</dt><dd><%= influencer.twitter.description %></dd>
          <dt class="label">Followers</dt><dd><%= influencer.twitter.followers %></dd>
          <dt class="label">Score</dt><dd class="score"><%= influencer.klout.score %></dd>
          <% } %>
        </dl>
      </li>
      <% }) %>
    </ul>
    <% } %>
    <% if(influencees.length) { %>
    <h4>Influencees</h4>
    <ul class="influencees">
      <% _(influencees).each(function(influencee) { %>
      <li>
        <dl>
          <% if(influencee.twitter) { %>
          <dt class="label">Name</dt><dd><%= influencee.twitter.name %></dd>
          <dt class="label">Screen name</dt><dd><%= influencee.twitter.screenName %></dd>
          <dt class="label">Description</dt><dd><%= influencee.twitter.description %></dd>
          <dt class="label">Followers</dt><dd><%= influencee.twitter.followers %></dd>
          <dt class="label">Score</dt><dd class="score"><%= influencee.klout.score %></dd>
          <% } %>
        </dl>
      </li>
      <% }) %>
    </ul>
    <% } %>
  </div>
  <% } %>
</script>
