@()

<script id="twitter-result-tmpl" type="text/html">
  <div class="twitter-result">
    <h3>Twitter</h3>
    <% if(user) { %>
    <dl>
      <dt>Screen name</dt><dd><%= user.screenName %></dd>
      <dt>Description</dt><dd><%= user.description %></dd>
      <dt>Followers</dt><dd><%= user.followers %></dd>
    </dl>
    <% } %>
    <hr/>
    <% if(timeline) { %>
    <ul class="pure-tweets">
      <% _(timeline.tweets).each(function(tweet) { %>
      <li><%= tweet.text %></li>
      <% }); %>
    </ul>
    <% } %>
  </div>
</script>
