@()

<script id="twitter-result-tmpl" type="text/html">
  <% if(user) { %>
  <div class="twitter result">
    <header>
      Twitter
    </header>
    <dl>
      <dt class="info">Screen name</dt><dd class="screen-name"><%= user.screenName %></dd>
      <dt class="info">Description</dt><dd><%= user.description %></dd>
      <dt class="info">Followers</dt><dd><%= user.followers %></dd>
    </dl>
    <hr/>
    <% if(timeline) { %>
    <ul class="pure-tweets">
      <% _(timeline.tweets).each(function(tweet) { %>
      <li><%= tweet.text %></li>
      <% }); %>
    </ul>
    <% } %>
  </div>
  <% } %>
</script>
